.header {
  border: 3px solid $header-outline;
  border-radius: 12px;
  padding: 16px 24px;
  margin: 24px 0 36px 0;

  &__title {
    font-size: 32px;
    line-height: 1;
    color: $white;
    text-transform: uppercase;
    font-weight: 700;
  }

  &__box-score {
    border-radius: 12px;
    background-color: $white;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: $score-text;
    padding: 10px 32px;
  }

  &__number {
    font-size: 48px;
    color: $dark-text;
  }
}