/* Fonts
==================================================*/
@import url('https://fonts.google.com/specimen/Barlow+Semi+Condensed');

$barlow:   'Barlow Semi Condensed', sans-serif;

/* Colors
==================================================*/
$scissors-gradient:   linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
$paper-gradient:      lineargradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
$rock-gradient:       lineargradient( hsl(349, 71%, 52%), hsl(349, 70%, 56%));
$lizard-gradient:     lineargradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
$cian-gradient:       lineargradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));

/* Text colors
==================================================*/
$dark-text:      hsl(229, 25%, 31%);
$score-text:     hsl(229, 64%, 46%);
$header-outline: hsl(217, 16%, 45%);
$white:          #EEE;

/* Background
==================================================*/
$background-gradient: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));